<div class="h-full w-full flex flex-col">
  <div class="w-full bg-white px-4 pb-3 flex-none flex flex-row justify-between items-center">
    <div class="text-gray-400 font-light text-sm">
      Espace nuagique
    </div>
    <div class="flex flex-row items-center">
      <div class="hidden lg:block">
        <button
          class="text-gray-500 font-light text-base"
          mat-button>
          <mat-icon>add</mat-icon>
          Créer un dossier
        </button>
      </div>
      <div class="hidden lg:block">
        <button
          class="text-gray-500 font-light text-base"
          mat-button>
          <mat-icon>add</mat-icon>
          Importer des fichiers
        </button>
      </div>
      <button mat-icon-button class="text-gray-500 lg:hidden">
        <mat-icon>more_vert</mat-icon>
      </button>
      <button mat-icon-button class="text-gray-500">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-icon-button class="text-gray-500">
        <mat-icon>apps</mat-icon>
      </button>
    </div>
  </div>
</div>
