<div class="h-full w-full flex flex-col">
  <div class="w-full bg-white px-4 pb-3 flex-none flex flex-row justify-between items-center">
    <div class="text-gray-400 font-light text-sm">
      Espace nuagique
    </div>
    <div class="flex flex-row items-center">
      <div class="hidden lg:block">
        <button
          class="text-gray-500 font-light text-base"
          mat-button>
          <mat-icon class="material-symbols-outlined text-green-500">add_circle</mat-icon>
          Créer un dossier
        </button>
      </div>
      <div class="hidden lg:block">
        <button
          class="text-gray-500 font-light text-base"
          mat-button>
          <mat-icon class="text-sky-500">arrow_circle_down</mat-icon>
          Importer des fichiers
        </button>
      </div>
      <div class="lg:hidden">
        <button mat-icon-button class="text-gray-500">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
      <button
        (click)="display_mode = 'list'"
        mat-icon-button
        class="{{display_mode === 'list' ? 'text-purple-500' : 'text-gray-500'}}">
        <mat-icon>format_list_bulleted</mat-icon>
      </button>
      <button
        (click)="display_mode = 'grid'"
        mat-icon-button
        class="{{display_mode === 'grid' ? 'text-purple-500' : 'text-gray-500'}}">
        <mat-icon>apps</mat-icon>
      </button>
    </div>
  </div>
</div>
