<div class="flex-none w-full md:w-[70px] md:h-full bg-nav-content flex flex-col justify-between">
  <div class="flex flex-col gap-20">
    <div class="hidden md:block px-2 py-5">
      <img src="/assets/images/logo.png" class="w-full" alt="App logo"/>
    </div>
    <div class="relative w-full md:pl-1 flex justify-end items-center">
      <app-indicator
        #indicatorComponent
        class="block fixed left-0 z-10 w-4 h-11 hidden md:block transition-all duration-300">
      </app-indicator>
      <app-nav-bg class="absolute h-[500px] hidden md:block"></app-nav-bg>
      <div class="z-10 flex flex-row md:flex-col gap-4 w-full justify-between px-5 md:px-2 py-2">
        <app-navigation-item
          #navItem1
          (click)="navigateTo('/')"
          [activated]="currentPath === '/'">
          <app-cloud
            [activated]="currentPath === '/'"
            class="text-selected-icon-nav"></app-cloud>
        </app-navigation-item>
        <app-navigation-item
          #navItem2
          (click)="navigateTo('/folders')"
          [activated]="currentPath === '/folders'">
          <app-folders
            [activated]="currentPath === '/folders'"
            class="text-selected-icon-nav"></app-folders>
        </app-navigation-item>
        <app-navigation-item
          #navItem3
          (click)="navigateTo('/establishments')"
          [activated]="currentPath === '/establishments'">
          <app-establishments
            [activated]="currentPath === '/establishments'"
            class="text-selected-icon-nav"></app-establishments>
        </app-navigation-item>
        <app-navigation-item
          #navItem4
          (click)="navigateTo('/settings')"
          [activated]="currentPath === '/settings'">
          <app-settings
            [activated]="currentPath === '/settings'"
            class="text-selected-icon-nav"></app-settings>
        </app-navigation-item>
      </div>
    </div>
  </div>
  <div class="flex-none p-4 w-full hidden md:flex items-center justify-center">
    <div class="bg-border-selected-icon-nav h-10 w-10 rounded-full p-[2px]">
      <div class="flex-none h-full w-full rounded-full bg-black p-1">
        <app-trafic></app-trafic>
      </div>
    </div>
  </div>
</div>
